<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'image.css' %}">
</head>
<body>
    <div class="backtheme">
        <div class="navigation">
             <h1 class="title">PriceProphet</h1>
            <ul>
                <li><a href="{% url 'LOGIN' %}">Login/Sign up</a></li>
                <li><a href="{% url 'ABOUT' %}">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src = 'static\logo.png' width="300" height="250">
        </div>
        <div class="menu_img">
            <img src = 'static\menu.jpg' width="700" height="480">
        </div>
    </div>
</body>
</html>